@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");
:root {
  --primary-text-color: #212121;
  --accent-blue: #2196f3;
  --hero-color: #2f303a;
  --primary-light-color: #ffffff;
  --secondary-text-color: #757575;
  --primary-backround-color: #f5f4fa;
  --secondary-border-color: #ececec;
  --portfolio-projects-border: #eeeeee;
  --social-icon-color: #afb1b8;
  --transparent-grey-color: #2f303acc;
  --transparent-blue: #2196f3;
  --dark-accent-blue: #0a7ddb;
  --modal-bg: rgba(0, 0, 0, 0.2);
  --time: 250ms;
  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

header {
  border-bottom: 1px solid var(--secondary-border-color);
}

a:hover {
  text-decoration: none;
  color: var(--accent-blue);
}

body {
  font-family: "Roboto";
  font-style: normal;
}

h1 {
  margin-bottom: 30px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.3636363636;
  font-size: 44px;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-light-color);
}

h2 {
  list-style: none;
  text-align: center;
  font-weight: 700;
  line-height: 1.1666666667;
  font-size: 36px;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  list-style: none;
  line-height: 1.1428571429;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.find__us__container p {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--primary-light-color);
  margin-bottom: 20px;
}

.subscribe__container > p {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-light-color);
  margin-bottom: 20px;
}

.body__section {
  padding-top: 94px;
}

.portfolio__section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.header__container {
  display: flex;
  align-items: center;
  height: 80px;
}

.header__navbar ul {
  display: flex;
}

.header__navbar ul > li:first-child,
.header__navbar ul > li:nth-child(2) {
  margin-right: 53px;
}

.header__navbar .navbar__navlink {
  display: block;
  padding: 32px 0;
}

.header__contact {
  display: flex;
  margin-left: auto;
}

.header__contact > li:first-child {
  margin-right: 50px;
}

.navbar__navlink {
  font-weight: 500;
  font-size: 14px;
  color: var(--primary-text-color);
  line-height: 1.1428571429;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: 0.02em;
  padding-bottom: 32px;
  padding-top: 32px;
  transition: color var(--time) var(--time-function);
}

.navbar__studio,
.navbar__portfolio {
  color: var(--accent-blue);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
}

.navbar__studio:after {
  position: relative;
  transition: color var(--time) var(--time-function);
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--active-and-hover-color);
  position: absolute;
  border-radius: 2px;
  left: 0;
  bottom: 0;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  color: var(--accent-blue);
  text-decoration: none;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 97px;
}

.header {
  display: flex;
  align-items: center;
  height: 80px;
}

.hero__section {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--primary-light-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 200px 0;
}

.hero__section .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn__service {
  background: var(--accent-blue);
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--primary-light-color);
  cursor: pointer;
  border-radius: 4px;
  border: 0px;
  padding: 10px 20px;
  transition: box-shadow var(--time) var(--time-function), background-color var(--time) var(--time-function);
}

.btn__service:hover,
.btn__service:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--dark-accent-blue);
}

.close__bttn {
  position: fixed;
  height: 30px;
  width: 30px;
  left: 490px;
  top: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--main-bg-color);
  border-radius: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}

.btn__service11 {
  font-weight: 500;
  font-size: 16px;
  font-family: "Roboto";
  line-height: 1.625;
  border: none;
  cursor: pointer;
  background: var(--primary-backround-color);
  color: var(--primary-text-color);
}

.my__button {
  background-color: var(--primary-backround-color);
  color: var(--primary-text-color);
  cursor: pointer;
  border: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  height: 38px;
  border-radius: 4px;
  border: 0px;
  padding: 6px 27px 6px 27px;
  transition: color var(--time) var(--time-function), background-color var(--time) var(--time-function), box-shadow var(--time) var(--time-function);
}

.my__button:hover,
.my__button:focus {
  background-color: var(--dark-accent-blue);
  color: var(--primary-light-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.active__button__all {
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: 0px;
  padding: 6px 27px 6px 27px;
  transition: color var(--time) var(--time-function), background-color var(--time) var(--time-function), box-shadow var(--time) var(--time-function);
  cursor: pointer;
}

.portfolio__buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio__buttons > li:not(:last-child) {
  margin-right: 8px;
}

.send__bttn {
  padding: 10px 70px;
  background-color: var(--transparent-blue);
  margin-top: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-light-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 10px;
}

.subscribe__btn {
  background-color: var(--accent-blue);
  border: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  color: var(--primary-light-color);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px 28px 10px 48px;
}

.body__section p {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
}

.body__section .container ul {
  display: flex;
}

.list__item {
  width: 270px;
}

.list__item:not(:last-child) {
  margin-right: 30px;
}

.address {
  background: var(--hero-color);
  font-weight: 400;
  color: var(--primary-light-color);
  line-height: 1.1875;
  font-size: 14px;
  font-family: "roboto";
}

.address ul li {
  margin-bottom: 2px;
}

.features {
  list-style: none;
  font-size: 14px;
  font-weight: 700;
  color: var(--primary-text-color);
  line-height: 1.1428571429;
  margin-bottom: 9px;
}

.whatwedo {
  padding-bottom: 94px;
  padding-top: 94px;
}

.whatwedo .container ul {
  display: flex;
  margin-top: 50px;
}

.whatwedo__list:not(:last-child) {
  margin-right: 30px;
}

.apps {
  font-weight: 700;
  color: var(--primary-text-color);
  line-height: 2;
  font-size: 18px;
  letter-spacing: 0.06em;
}

.desktop__apps__container {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
}

.desktop__apps__container > p {
  color: var(--primary-light-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 27px 0px;
  background-color: var(--transparent-grey-color);
}

.apps1 {
  font-weight: 400;
  font-size: 16px;
  color: var(--secondary-text-color);
  line-height: 1.875;
  margin-top: 4px;
}

.what__we__do__images {
  display: flex;
}

.what__we__do__images > li {
  margin-right: 30px;
  position: relative;
}

.sub__heading {
  text-align: center;
  font-weight: 500;
  color: var(--primary-text-color);
  line-height: 1.1875;
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.ourteam__text {
  text-align: center;
  margin-bottom: 30px;
  color: var(--secondary-text-color);
  line-height: 1.1875;
  font-size: 16px;
  font-weight: 400;
}

.ourteam {
  list-style: none;
  background-color: var(--primary-backround-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.ourteam .container ul {
  display: flex;
  margin-top: 30px;
}

.ourteam__list {
  background-color: var(--primary-light-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.ourteam__list:not(:last-child) {
  margin-right: 30px;
}

.our__skills__svg {
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background-color: var(--primary-backround-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.ourteam__social__svg {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.ourteam__social__svg > li:not(:last-child) {
  margin-right: 10px;
}

.footer__main__container {
  display: flex;
  align-items: baseline;
}

.footer {
  background: var(--hero-color);
  font-weight: 400;
  color: var(--primary-light-color);
  line-height: 1.1875;
  font-size: 14px;
  font-family: "roboto";
  display: block;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  color: var(--accent-blue);
  text-decoration: none;
  line-height: 1.1923076923;
  margin-bottom: 9px;
  display: block;
}

.footer__address__container {
  margin-right: 70px;
}

.bottom__footer__address {
  font-weight: 400;
  color: var(--primary-light-color);
  line-height: 1.7142857143;
  font-size: 14px;
  font-style: normal;
  font-family: "roboto";
  transition: color var(--time) var(--time-function);
}

.my__checkbox__icon {
  fill: var(--white-text-color);
  background-color: var(--accent-blue);
  border: 2px solid var(--accent-blue);
  width: 16px;
  height: 15px;
  cursor: pointer;
  border-radius: 2px;
  margin-right: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.agree__to__terms__and__conditions,
.terms__and__conditions {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  text-decoration: none;
}

.submit__bttn__container {
  position: relative;
}

.subscribe__twitter__svg {
  fill: currentColor;
  margin-left: 30px;
}

.email__input__element:focus,
.email__input__element:hover {
  border: 1px solid var(--accent-blue);
}

.find__us__container {
  margin-right: 93px;
}

.subscribe--twitter__svg {
  fill: currentColor;
  margin-left: 30px;
}

.input__name:hover + .icon__person__svg,
.input__name:focus + .icon__person__svg {
  fill: var(--accent-blue);
}

.chk__bx__svg:hover + .my__label > .my__checkbox__icon,
.chk__bx__svg:focus + .my__label > .my__checkbox__icon,
.my__input__checkbox:checked + .my__label > .my__checkbox__icon {
  fill: var(--white-text-color);
  background-color: var(--active-and-hover-color);
  border: 2px solid var(--active-and-hover-color);
}

.visually__hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
}

.checkbox__icon {
  fill: white;
}

.modal__checkbox:checked + .checkbox__text > .checkbox__icon__wrapper {
  background-color: var(--accent-blue);
  border: none;
}

.checkbox__icon__wrapper {
  width: 16px;
  height: 15px;
  border: 1px solid var(--primary-text-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 2px;
  margin-right: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__text {
  display: flex;
}

.bottom__footer {
  font-weight: 400;
  color: var(--secondary-text-color);
  line-height: 1.7142857143;
  font-size: 14px;
  font-style: normal;
  font-family: "Roboto";
  transition: color var(--time) var(--time-function);
}

.subscribe__form__class {
  display: flex;
}

.contact__form {
  padding-left: 40px;
  padding-right: 40px;
}

.social__inks {
  display: flex;
}

.social__media__links {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--primary-light-color);
  transition: color var(--time) var(--time-function), background-color var(--time) var(--time-function);
}

.social__media__links:hover {
  background-color: var(--accent-blue);
  color: var(--primary-light-color);
}

.social__media__svg {
  fill: currentColor;
}

.social__links > li:not(:last-child) {
  margin-right: 10px;
}

.ourteam__social__links {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--social-icon-color);
  border-radius: 50%;
  transition: color var(--time) var(--time-function), background-color var(--time) var(--time-function);
}

.ourteam__social__links__svg {
  fill: currentColor;
}

.ourteam__social__links .last__child__class {
  margin-right: 0px;
}

.ourteam__social__links:hover {
  color: var(--primary-light-color);
  background-color: var(--accent-blue);
}

.info__navlink {
  list-style: none;
  color: var(--secondary-text-color);
  line-height: 1.1428571429;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  transition: color var(--time), var(--time-function);
}

.social__links {
  display: flex;
}

.portfolio__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  cursor: pointer;
}

.portfolio__projects li {
  background-color: var(--primary-light-color);
  margin-bottom: 30px;
  border-radius: 4px;
}

.portfolio__projects li:hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(98, 38, 38, 0.12);
}

.portfolio__projects > li:nth-child(n+7) {
  margin-bottom: 0px;
}

.portfolio__projects > li {
  cursor: pointer;
  margin-bottom: 30px;
  transition: box-shadow var(--time) var(--time-function);
}

.portfolio__projects li img {
  display: block;
}

.portfolio__text__div {
  border-left: 1px solid var(--portfolio-projects-border);
  border-right: 1px solid var(--portfolio-projects-border);
  border-bottom: 1px solid var(--portfolio-projects-border);
  padding: 24px 20px;
}

.icon,
.smartphone {
  fill: currentColor;
  margin-right: 10px;
}

.icon :hover {
  fill: var(--accent-blue);
}

.overlay {
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  width: 370px;
  height: 294px;
  transform: translateY(100%);
  transition: transform var(--time) var(--time-function);
}

.overlay > p {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--primary-light-color);
  text-align: left;
  padding: 63px 24px;
}

.transition__card {
  position: relative;
  overflow: hidden;
}

.portfolio__projects > li:hover .overlay {
  transform: translateY(0);
}

.regular__customers__section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.customers__brand__list {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}

.regular__customers__link {
  width: 170px;
  height: 92px;
  border: 1px solid var(--social-icon-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  color: var(--social-icon-color);
  transition: color var(--time) var(--time-function), border var(--time) var(--time-function);
}

.regular__customers__svg {
  height: 60px;
  width: 106px;
  fill: currentColor;
}

.regular__customers__link:hover {
  border: 1px solid var(--accent-blue);
}

.backdrop {
  width: 100%;
  height: 100%;
  background-color: var(--modal-bg);
  top: 0;
  left: 0;
  position: fixed;
  opacity: 1;
  visibility: visible;
}

.is__hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal__window {
  background-color: var(--primary-light-color);
  width: 528px;
  height: 581px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form__title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--section-titles-color);
  margin-bottom: 12px;
  padding-top: 40px;
}

.input__name {
  width: 100%;
  height: 40px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  transition: border var(--time) var(--time-function);
  padding-left: 40px;
  margin-top: 4px;
  outline: none;
  color: var(--primary-text-color);
}

.contact__form > label {
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  position: relative;
  margin-top: 10px;
  color: var(--secondary-text-color);
}

.textarea {
  padding-left: 16px;
  padding-top: 12px;
  width: 100%;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  transition: border var(--time) var(--time-function);
  outline: none;
  color: var(--primary-text-color);
  resize: none;
}

.is__hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.my__label {
  display: flex;
}

.input__name:hover,
.input__name:focus {
  border: 1px solid var(--accent-blue);
}

.textarea:hover,
.textarea:focus {
  border: 1px solid var(--accent-blue);
}

.contact__form {
  padding-left: 40px;
  padding-right: 40px;
}

.chk__bx__svg {
  fill: currentColor;
}

.chk__bx__svg:hover,
.chk__bx__svg:focus .subscribe__form__class {
  display: flex;
}

.email__input__element {
  width: 358px;
  height: 50px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding: 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  margin-right: 12px;
  transition: border var(--time) var(--time-function);
  outline: none;
}

.icon__person__svg {
  position: absolute;
  bottom: 14px;
  left: 15px;
  fill: var(--primary-text-color);
  cursor: pointer;
  transition: color var(--time) var(--time-function);
}

.ourteam-__social__links__svg {
  fill: currentColor;
}/*# sourceMappingURL=main.css.map */