.social__links {
  display: flex;
}

.social__media__links {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--primary-light-color);
  transition: color var(--time) var(--time-function),
    background-color var(--time) var(--time-function);
  &:hover,
  &:focus {
    background-color: var(--accent-blue);
    color: var(--primary-light-color);
  }
}

.social__media__svg {
  fill: currentColor;
}
.social__links > li:not(:last-child) {
  margin-right: 10px;
}

.ourteam__social__links {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--social-icon-color);
  border-radius: 50%;
  transition: color var(--time) var(--time-function),
    background-color var(--time) var(--time-function);
  &:hover {
    color: var(--primary-light-color);
    background-color: var(--accent-blue);
  }
}

.ourteam__social__links__svg {
  fill: currentColor;
}

.ourteam__social__links .last__child__class {
  margin-right: 0px;
}

.info__navlink {
  list-style: none;
  color: var(--secondary-text-color);
  line-height: calc(16 / 14);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  transition: color var(--time), var(--time-function);
  @media screen and (min-width: 768px) {
    padding: 0;
  }
}
.social__links {
  display: flex;
}
