@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");
:root {
  --primary-text-color: #212121;
  --accent-blue: #2196f3;
  --hero-color: #2f303a;
  --primary-light-color: #ffffff;
  --secondary-text-color: #757575;
  --primary-backround-color: #f5f4fa;
  --secondary-border-color: #ececec;
  --portfolio-projects-border: #eeeeee;
  --social-icon-color: #afb1b8;
  --transparent-grey-color: #2f303acc;
  --transparent-blue: #2196f3;
  --dark-accent-blue: #0a7ddb;
  --modal-bg: rgba(0, 0, 0, 0.2);
  --time: 250ms;
  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
}
